@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    margin: 0;
    font-weight: bold;
    color: #000000;
}

.footer-icon {
    color: #000000;
    opacity: 0.4;
}

.footer-items:nth-child('odd') {
    color: black;
}